<div>
    <table cellpadding="0" align="center"
           style="overflow:hidden;background:#fff;margin:0 auto;text-align:left;position:relative;font-size:14px; font-family:'lucida Grande',Verdana;line-height:1.5;box-shadow:0 0 3px #ccc;border:1px solid #ccc;border-radius:5px;border-collapse:collapse;">
        <tbody>
        <tr>
            <th valign="middle"
                style="height:38px;color:#fff; font-size:14px;line-height:38px; font-weight:bold;text-align:left;padding:10px 24px 6px; border-bottom:1px solid #467ec3;background:#518bcb;border-radius:5px 5px 0 0;">
            {{ website_name }}</th>
        </tr>
        <tr>
            <td>
                <div style="padding:20px 35px 40px;">
                    <h2 style="font-weight:bold;margin-bottom:5px;font-size:14px;">尊敬的{{ username }}：</h2>
                    <p style="margin-top:20px">
                    请在{{ confirm_minutes }}分钟内点击 <a href="{{ link }}">{{ link }}</a> 来重置您XDOJ账户的密码，切勿将此链接泄漏于他人。
                    </p>
                    <p style="margin-top:20px">
                    如果您从进行重置密码申请，请您忽略这份邮件。
                    </p>
                    <p style="margin-top:20px">
                    如有任何疑问，请联系本网站管理员。
                    </p>
                    <p style="margin-left:2em;"></p>
                    <p style="text-indent:0;text-align:right;">{{ website_name }}</p>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>